<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', { title: 'Create' , stylesheet: ['/css/styles.css','/css/productCreate.css']}) %>

    <body>
        <%- include('../partials/header') %>

            <main class="formContenedor">

                <div>
                    <h5 class="tituloExtra" id="pruebaV">texto de prueba</h5>
                </div>

                <h2 class="tituloCreate"><strong>Nuevo Producto</strong></h2>
                <form action="/products/create" method="POST" enctype="multipart/form-data" class="formRegister">

                    <label for="name" class="elementForm">Nombre del Producto</label>
                    <input type="text" id="name" name="name" class="control"
                        value="<%= locals.oldData && oldData.name ? oldData.name : null %>">
                    <% if (locals.errors && errors.name) { %>
                        <p class="mensajeError">
                            <%= errors.name.msg %>
                        </p>
                        <% } %>


                            <label for="price" class="elementForm">Precio</label>
                            <input type="text" id="price" name="price" class="control"
                                value="<%= locals.oldData && oldData.price ? oldData.price : null %>">
                            <% if (locals.errors && errors.price) { %>
                                <p class="mensajeError">
                                    <%= errors.price.msg %>
                                </p>
                                <% } %>


                                    <label for="discount" class="form-label">Descuento:</label>
                                    <input type="text" id="discount" name="discount" placeholder="Ej: 15"
                                        class="control"
                                        value="<%= locals.oldData && oldData.discount ? oldData.discount : null %>">
                                    <% if (locals.errors && errors.discount) { %>
                                        <p class="mensajeError">
                                            <%= errors.discount.msg %>
                                        </p>
                                        <% } %>

                                            <label for="description" class="elementForm">Descripción</label>
                                            <textarea id="description" name="description"
                                                class="control"><%= locals.oldData && oldData.description ? oldData.description : null %></textarea>

                                            <label for="idCategoryProduct" class="elementForm">Categoría</label>
                                            <select id="idCategoryProduct" name="idCategoryProduct" class="control">
                                                <option value="1" selected <%=locals.oldData &&
                                                    oldData.idCategoryProduct==='1' ? 'selected' : '' ; %>>Calzados
                                                </option>
                                                <option value="2" <%=locals.oldData && oldData.idCategoryProduct==='2'
                                                    ? 'selected' : '' ; %>>Accesorios</option>
                                                <option value="3" <%=locals.oldData && oldData.idCategoryProduct==='3'
                                                    ? 'selected' : '' ; %>>Indumentaria</option>

                                            </select>

                                            <label for="idColor" class="elementForm">Colores</label>
                                            <select id="idColor" name="idColor" class="control">
                                                <option value="1" selected <%=locals.oldData && oldData.idColor==='1'
                                                    ? 'selected' : '' ; %>>blanco</option>
                                                <option value="2" <%=locals.oldData && oldData.idColor==='2'
                                                    ? 'selected' : '' ; %>>Negro</option>
                                                <option value="3" <%=locals.oldData && oldData.idColor==='3'
                                                    ? 'selected' : '' ; %>>Gris</option>
                                                <option value="4" <%=locals.oldData && oldData.idColor==='4'
                                                    ? 'selected' : '' ; %>>Rojo</option>
                                                <option value="5" <%=locals.oldData && oldData.idColor==='5'
                                                    ? 'selected' : '' ; %>>Azul</option>
                                                <option value="6" <%=locals.oldData && oldData.idColor==='6'
                                                    ? 'selected' : '' ; %>>Verde</option>
                                                <option value="7" <%=locals.oldData && oldData.idColor==='7'
                                                    ? 'selected' : '' ; %>>Amarillo</option>
                                                <option value="8" <%=locals.oldData && oldData.idColor==='8'
                                                    ? 'selected' : '' ; %>>Naranja</option>
                                                <option value="9" <%=locals.oldData && oldData.idColor==='9'
                                                    ? 'selected' : '' ; %>>Morado</option>
                                                <option value="10" <%=locals.oldData && oldData.idColor==='10'
                                                    ? 'selected' : '' ; %>>Rosa</option>
                                                <option value="11" <%=locals.oldData && oldData.idColor==='11'
                                                    ? 'selected' : '' ; %>>Marrón</option>
                                                <option value="12" <%=locals.oldData && oldData.idColor==='12'
                                                    ? 'selected' : '' ; %>>Beige</option>
                                            </select>

                                            <!-- <label for="idColor" class="elementForm">Colores</label>
                                            <input type="text" id="idColor" name="idColor" class="control"
                                                value="<#%= locals.oldData && oldData.idColor ? oldData.idColor : null %>">
                                            <#% if (locals.errors && errors.idColor) { %>
                                                <p class="mensajeError">
                                                    <#%= errors.idColor.msg %>
                                                </p>
                                                <#% } %> -->

                                            <label for="image" class="elementForm">Imágenes del
                                                producto</label>
                                            <input type="file" id="image" name="image" class="control"
                                                accept=".jpg, .png" multiple></input>

                                            <button type="reset" class="botonForm">Borrar</button>
                                            <button type="submit" class="botonForm">Guardar</button>

                </form>
            </main>

            <%- include('../partials/footer')%>

                <script src="/js/validator.js"></script>

    </body>


</html>