<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', { title: 'Detalle' , stylesheet: ['/css/styles.css','/css/productDetail.css']}) %>

    <body>
        <%- include('../partials/header') %>
            <h2 class="titulo">Producto Seleccionado</h2>
            <main>
                <div class="contenedorGris">
                    <h2 class="subtitulo">Detalles del producto</h2>
                    <div class="contImgDes">
                        <div class="row">
                            
                            <img src="/img/products/<%= pSelected.image %>" alt="product image"
                                    class="product-detail-img" width="300px" height="300px">
                                
                            
                            <div class="product-detail">
                                <article class="product-detail-info">
                                    <p class="product-detail-description">
                                    <%= pSelected.description %>
                                </p>
                                
                                <h2 class="product-detail-title">
                                        <%= pSelected.name %>
                                    </h2>

                                    <p class="product-detail-price small">
                                        <span>$<%= pSelected.price %></span>
                                        /
                                        <b>
                                            <%= pSelected.discount %>% OFF
                                        </b>
                                    </p>
                                    <p class="product-detail-price">
                                        $<%= pSelected.price %>
                                            <!-- falta final price (Calculo) -->
                                    </p>

                                    <ul class="actions-list">
                                        <li>
                                            <i class="fas fa-credit-card"></i>
                                            <p>Pagá en 12 cuotas sin interes</p>
                                        </li>
                                        <li>
                                            <i class="fas fa-store"></i>
                                            <p>Retiro gratis en locales del vendedor</p>
                                        </li>
                                    </ul>

                                    <a href="#" class="boton">COMPRAR AHORA</a>
                                    <hr>

                                    <a href="/products/edit/<%= pSelected.id %>" class="boton">EDITAR
                                        PRODUCTO</a>
                                    <form action="/products/delete/<%= pSelected.id %>?_method=DELETE" method="POST"
                                        style="display: inline-flex">
                                        <button type="submit" class="boton">ELIMINAR</button>
                                    </form>
                                
                            </div>
                        </article>
                    </div>
                    <div>
                </div>

            </main>
            <%- include('../partials/footer') %>
    </body>

</html>