<!DOCTYPE html>
<html lang="en">
 
<%- include('../partials/head', { title: 'Cart' , stylesheet: ['/css/styles.css','/css/productCart.css']}) %>

  <body>
    <%- include('../partials/header') %>

      <main>
        <ul type="none">
          <li>
            <h2 class="title">Mi Carrito de Compras</h2>
          </li>
          <li>
            <a href="/">
              <h3 class="subtitle">Seguir Comprando</h3>
            </a>
          </li>
        </ul>

        <div class="container">
          <div class="products">
            <article class="productImage">
              <img src="/img/products/<%= pSelected.image %>" alt="product image" width="200px" height="200px">
            </article>

            <section class="productDescription">
              <h3>
                <%= pSelected.name %>
              </h3>
              <p>
                <%= pSelected.description %>
              </p>
              <span> $ <%= pSelected.price %></span>
              <% if (pSelected.discount> 0) { %>
                <span>
                  <%= pSelected.discount %> % OFF
                </span>
                <% } else { %>
                  <span> 0 % OFF</span>
                  <% } %>
            </section>

            <section class="quantity">
              <h4>Cantidad</h4>
              <form id="quantityForm" method="post">
                <label for="cantidad">Cantidad:</label>
                <select id="quantity" type="number" onchange="quantityOnChange()">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                </select>
              </form>
            </section>
          </div>
          <div class="calculations">

            <section class="price">
              <h3>Precio</h3>
              <h4>$<%= pSelected.price %>
              </h4>
              <% if (pSelected.discount> 0 ){ %>
                <span>
                  <%= pSelected.discount %> % OFF
                </span>
                <%}else { %>
                  <span> 0 % OFF </span>
                  <% } %>
            </section>

            <h4>Subtotal</h4>
            <!--<div class="formulario">
              <h4>Código de descuento y código postal</h4>
              <form id="formularioEnvio">
                <label for="codigoDescuento">Código de Descuento:</label>
                <input type="text" id="codigoDescuento" name="codigoDescuento">
                <input type="submit" value="Validar"></input>

                <label for="codigoPostal">Código Postal:</label>
                <input type="text" id="codigoPostal" name="codigoPostal">

                <button type="button" onclick="calcularCostoEnvio()">Calcular Costo de Envío</button>
              </form>-->

              <h3>Total</h3>
              <p class="totalPrice">
              </span> Precio Total $<span= " precioTotal" id="totalPrice"> 
                <%=  pSelected.price  %>
              </span>
              </p> 
            </div>

            </div>

            <button onclick="realizarCompra()">Comprar</button>
          </div>

              </div>
      </main>
      <%- include('../partials/footer') %>

  </body>
<script>
    quantityOnChange = (e) => {
      const price = '<%= pSelected.price %>';
      const quantity = document.getElementById('quantity').value;
      document.getElementById('totalPrice').innerHTML = price * quantity;
    }
  </script>
</html>