<!DOCTYPE html>
<html lang="es">
  
  <%- include('partials/head', { title: 'Página de inicio', stylesheet: ['/css/styles.css']}) %>

  <body>
    <%- include('partials/header') %>	
    <main>
      <div class="carrusel">
        <% products.forEach(product => { %>
        <div class="elemento" class="elementCarrusel">
          <a href='/products/detail/<%= product.id %>' class=""> <img src="img/products/<%= product.image %>" width="100%" height="300px"></a>
          
          <article>         
          <p class="name">
              <%= product.name %>
          </p>
          <p class="category">
              <%= product.category %>
          </p>
          <h2 class="price">$<%= product.price %>
          </h2>
          <p class="description">
              <%= product.description %>
          </p>
          <p class="colors">
              <%= product.colors %>
          </p>
         </article>
         <i class="fas fa-truck"></i>
        </div>         
        <% }) %>
      



      </div>
    </main>
    <%- include('partials/footer') %>	

  </body>
</html>
