<!DOCTYPE html>
<html lang="es">
  
  <%- include('partials/head', { title: 'Página de inicio', stylesheet: ['/css/styles.css']}) %>

  <body>
    <%- include('partials/header') %>	
    <main>
      <div class="carrusel">
        <% products.forEach(product => { %>
        <div class="elemento">
          <h4><%= product.id %></h4> 
          <a href='/Detail' class=""><img src="img/products/<%= product.image %>" width="100%" height="400px"></a>
          <h2>$<%= product.price %>
          </h2>
          <p>
              <%= product.description %>
          </p>
          <p>
              <%= product.name %>
          </p>
          <p>
              <%= product.category %>
          </p>
          <p>
              <%= product.colors %>
          </p>
        </div>         
        <% }) %>
      



      </div>
    </main>
    <%- include('partials/footer') %>	

  </body>
</html>
