<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', { title: 'perfil' , stylesheet: ['/css/styles.css','/css/profile.css']}) %>       
<body>
    <%- include('../partials/header') %> 
        
    <main class="contPerfil">         
         <h2 class="titulo">Bienvenidos a la vista de perfil de <%= user.email %></h2>
         <p><%= user.id %></p>
         <p><%= user.password %></p>      
         
         <div class="enlaces"><a href="/users/logout">Cerrar sesión</a></div>
        </main>
        <%- include('../partials/footer') %>
</body>
</html>

